{% extends 'base.html' %}

{% block content %}
<h1>Tareas</h1>
<a href="{% url 'create_task' %}" class="btn btn-success mb-3">Crear Nueva Tarea</a>
<ul>
    {% for task in tasks %}
        <li style="margin-bottom: 20px;">
            {% if task.important %}
                <strong>{{ task.title }}</strong>
            {% else %}
                {{ task.title }}
            {% endif %}
            <p>{{ task.description }}</p>
            <p>{{ task.user.username }}</p>
            <p>Creada: {{ task.created }}</p>
            <p>Completada: {{ task.datecompleted }}</p>
            
            <a href="{% url 'select' task.id %}" class="btn btn-success btn-sm">Seleccionar</a>
        </li>
        
    {% empty %}
        <li>No hay tareas disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}
